[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = ""
flask-migrate = "*"
flask-login = "*"
mysqldb = "*"
mysql-python = "*"
pymysql = "*"
flask-wtf = "*"
wtforms = "*"

[requires]
python_version = "3.7"
