{% macro render_form(form, url, title) %}
<form method="POST" action="{{ url }}" class="needs-validation basic" enctype='multipart/form-data'>
  <!-- 将 csrf_token 渲染在表单开始的位置 -->
  {{ form.csrf_token }}
  <h4 class="mb-3">{{ title }}</h4>
  <!-- 迭代每个表单 field -->
  {% for field in form %}
    <!-- 如果是 csrf_token 就不再渲染了 -->
      {% if field.type == 'CSRFTokenField' %}
      {{ '' }}
      <!-- SubmitField 单独特殊处理 -->
      {% elif field.type == 'SubmitField' %}
      {{ form.submit(class='btn btn-primary', type='submit') }}

      {% elif field.type == 'BooleanField' %}
          <div class="checkbox">
              <label>{{ field() }} {{ field.label.text }}</label>
          </div>
      <!-- 特殊处理文件类型的input -->
      {% elif field.type == 'FileField' %}
      <div class="custom-file mb-3 mt-3">

          {% if field.errors %}
              {{ field(class="custom-file-input is-invalid") }}
              <label class="custom-file-label" for="{{ field.name }}">{{ field.label.text }}</label>
              {% for error in field.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
          {% else %}
              {{ field(class="custom-file-input") }}
              <label class="custom-file-label" for="{{ field.name }}">{{ field.label.text }}</label>
          {% endif %}

      </div>

      {% else %}
      <!-- 当 errors 不为空，添加 is-invalid 类，这样输入框就变成红色了-->
      <div class="form-group">
          <label for="{{ field.name }}">{{ field.label.text }}</label>
          {% if field.errors %}
              {{ field(class="form-control is-invalid") }}
              <!-- 当 errors 不为空，遍历显示每一个 error -->
              {% if field.errors %}
              {% for error in field.errors %}
              <!-- 根据 Bootstrap 样式错误信息要显示先类为 invalid-feedback-block 的 div 标签中-->
                  <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
              {% endif %}

          {% else %}
                {{ field(class="form-control") }}
          {% endif %}

      </div>

      {% endif %}
  {% endfor %}
</form>
{% endmacro %}

