{% extends "base.html" %}
{% block body %}
<div class="container-profie">
    <div class="profile">
    <form class="needs-validation basic" novalidate="">
        <h4>编辑企业信息</h4>
            <div class="mb-3 mt-3">
                <label for="name">企业名称</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="name" placeholder="请输入您的企业名称" value="腾讯股份有限公司" required="">
                </div>
            </div>

            <div class="mb-4">
                <label for="email">邮箱</label>
                <input type="email" class="form-control" id="email" placeholder="格式为you@example.com" value="jaymie9019@tencent.com">
                <div class="invalid-feedback">
                    请输入一个正确的邮箱
                </div>
            </div>
            <div class="mb-4">
                <label for="phone">手机号</label>
                <input type="text" class="form-control" id="phone" placeholder="请输入您的手机号" required="">
            </div>
            <div class="mb-3">
                <label for="passwd">密码<span class="text-muted">(不填写保持不变)</span></label>
                <input type="text" class="form-control" id="passwd" placeholder="">
            </div>

            <div class="mb-3">
                <label for="slogan">slogan</label>
                <input type="text" class="form-control" id="slogan" placeholder="" required="">
            </div>

            <div class="mb-3">
                <label for="address">公司地址</label>
                <input type="text" class="form-control" id="address" placeholder="" required="">
            </div>

            <div class="mb-3">
                <label for="des">一句话简介</label>
                <input type="text" class="form-control" id="des" placeholder="" required="">
            </div>

            <div class="mb-3">
                <label for="info">公司详情</label>
                <textarea type="text" class="form-control" id="info" placeholder="" required=""></textarea>
            </div>

            <div class="form-group">
                <label for="logo">公司LOGO
                    <span class="text-muted">(建议尺寸为80*80的jpg，png文件)</span>
                </label>
                <input type="file" class="form-control-file" id="logo">
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">立即提交</button>
          </form>

</div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}

