:root {
  --jumbotron-padding-y: 3rem;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.position {
  color: #333;
  max-width: 145px;
}

.pub-time {
  color: #999;
  font-size: 14px;
}

.salary {
  font-size: 16px;
  color: #fa6041;
}


.card-info {
  height: 30px;
  line-height: 30px;
  color: #777;
}

.card-info span {
  font-size: 14px;
}

.labels {
  margin-top: 5px;
}

.card-btm {
  margin-top: 18px;
  padding-top: 18px;
  border-top: 1px dashed #E0E0E0;
}

.btm-right {
  margin-left: 54px;
}

.cp-name {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.cp-name a {
  color: #333;
}

a.list_more {
  display: block;
  width: 400px;
  height: 45px;
  line-height: 45px;
  margin: 16px auto;
  background: #fff;
  border: 1px solid #0069d9;
  font-size: 16px;
  color: #0069d9;
  text-align: center;

}

div.ct {
  text-align: center;
}

p.company-name {
  height: 22px;
  margin-top: 13px;
  font-size: 16px;
  color: #333;
}

p.slogan {
  margin-top: 5px;
  color: #555;
  line-height: 22px;
  font-size: 14px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}



div.container-profie {
  width: 100%;
  height: 1400px;
  background: #343a40;
  padding-top: 150px;

}

div.profile {
  margin: 10px auto 0;
  max-width: 580px;
  background: #fff;
}
.gray {
  color: #9d9d9d;
}

a.profile {
  cursor: pointer;
}

form.basic {
  position: relative;
  width: 500px;
  margin: auto;
  padding: 36px 50px 20px;
  background: #fff;
  box-sizing: border-box;
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


.form {
  /* 设置 form 的宽度为 400px */
  width: 400px;
  /* 设置 form 居中 */
  margin: 0 auto;
}



label.custom-file-label:lang(zh)::after {
  content: "选择文件";
}


label.custom-file-label.selected:lang(zh)::after {
  content: "选择文件";
}


div.job-title-header{
  padding: 2rem 0 0 0;
}

.job-title-logo{
  float: left;
  height: 100px;
  width: 100px;
  background: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  margin-right: 20px;
}

.job-title-logo img {
  width: 100%;
  border: 6px solid #FFFFFF;
}

.job-requirements-list{
  list-style: none;
  padding: 0;
}

.job-requirements-list li{
  display: inline-block;
  margin-right: 20px;
}

.job-tags-list{
  list-style: none;
  padding: 0;
}

.job-tags-list li{
  display: inline;
  margin-right: 20px;
}

.citys{
  color: green;
}