a {
  text-decoration:none;
  color:#333;
}

ul {
  list-style: none;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.position {
  color: #333;
  max-width: 145px;
}

.pub-time {
  color: #999;
  font-size: 14px;
}

.salary {
  font-size: 16px;
  color: #fa6041;
}


.card-info {
  height: 30px;
  line-height: 30px;
  color: #777;
}

.card-info span {
  font-size: 14px;
}

.labels {
  margin-top: 5px;
}

.card-btm {
  margin-top: 18px;
  padding-top: 18px;
  border-top: 1px dashed #E0E0E0;
}

.btm-right {
  margin-left: 54px;
}

.cp-name {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.cp-name a {
  color: #333;
}

a.list_more {
  display: block;
  width: 400px;
  height: 45px;
  line-height: 45px;
  margin: 16px auto;
  background: #fff;
  border: 1px solid #0069d9;
  font-size: 16px;
  color: #0069d9;
  text-align: center;

}

div.ct {
  text-align: center;
}

p.company-name {
  height: 22px;
  margin-top: 13px;
  font-size: 16px;
  color: #333;
}

p.slogan {
  margin-top: 5px;
  color: #555;
  line-height: 22px;
  font-size: 14px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}



div.container-profie {
  width: 100%;
  height: 1400px;
  background: #343a40;
  padding-top: 150px;

}

div.profile {
  margin: 10px auto 0;
  max-width: 580px;
  background: #fff;
}
.gray {
  color: #9d9d9d;
}

a.profile {
  cursor: pointer;
}

form.basic {
  position: relative;
  width: 500px;
  margin: auto;
  padding: 36px 50px 20px;
  background: #fff;
  box-sizing: border-box;
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


.form {
  /* 设置 form 的宽度为 400px */
  width: 400px;
  /* 设置 form 居中 */
  margin: 0 auto;
}



label.custom-file-label:lang(zh)::after {
  content: "选择文件";
}


label.custom-file-label.selected:lang(zh)::after {
  content: "选择文件";
}


.filter-header {
  margin-bottom: 20px;
}


ul.filter-wrapper {
  position: relative;
  margin-top: 20px;
  padding: 8px 0;
  background-color: #fafafa;
  border: 1px solid #ededed;
  min-height: 30px;
}

.details {
  position: relative;
  overflow: visible;
  background: #fafafa;
}

ul.filter-wrapper .details > li {
  position: relative;
  z-index: 2;
}

ul.filter-wrapper li {
  padding: 4px 0;
  zoom: 1;
  color: #555;
  border-bottom: 1px dashed transparent;
}

ul.filter-wrapper li span {
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
  margin-left: 15px;
}

ul.filter-wrapper li a {
  font-size: 14px;
  padding: 4px 8px;
  cursor: pointer;
}

ul.filter-wrapper li a.active {
  background-color: #00b38a;
  color: #fff;
}

ul.filter-wrapper li a:hover {
  background-color: #00b38a;
  color: #fff;
}

